---
layout: base.njk
title: About
permalink: /about/
---
<h1>About {{ site.title }}</h1>
<p>{{ site.description }}</p>
<p>
  This site collects homebrew and supplemental material for Pathfinder Second Edition Remastered:
  new options, house rules, and GM tools meant to slot alongside the core rules.
</p>
<p>
  This is unofficial Paizo fan content, permitted under the
  <a href="https://paizo.com/community/communityuse" target="_blank" rel="noopener">Paizo Community Use Policy</a>.
  We are expressly prohibited from charging you to use or access this content. This site is not published,
  endorsed, or specifically approved by Paizo. For more information about Paizo Inc. and Paizo products,
  visit <a href="https://paizo.com" target="_blank" rel="noopener">paizo.com</a>.
</p>
