---
layout: base.njk
title: About
permalink: /about/
---
<h1>About {{ site.title }}</h1>
<p>{{ site.description }}</p>
<p>
  This site collects homebrew and supplemental material for Pathfinder Second Edition Remastered:
  new options, house rules, and GM tools meant to slot alongside the core rules.
</p>

<h2>Licensing</h2>
<p>
  {{ site.title }} uses trademarks and/or copyrights owned by Paizo Inc., used under Paizo's
  <a href="https://paizo.com/licenses/communityuse" target="_blank" rel="noopener">Community Use Policy</a>.
  We are expressly prohibited from charging you to use or access this content. {{ site.title }} is
  not published, endorsed, or specifically approved by Paizo. For more information about Paizo Inc.
  and Paizo products, visit <a href="https://paizo.com" target="_blank" rel="noopener">paizo.com</a>.
</p>
<p>
  Some rules content on this site also adapts Licensed Material originally published by Paizo Inc.,
  used under the terms of the
  <a href="https://paizo.com/orclicense" target="_blank" rel="noopener">Open RPG Creative (ORC) License</a>
  (also on file with the U.S. Copyright Office at TX 9-307-067).
</p>
